<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
             http://www.springframework.org/schema/security
             http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true">
        <!--// API REST-->
        <intercept-url pattern="/api/**" access="permitAll"/>

        <!--// MVC CRUD-->
        <intercept-url pattern="/login" access="permitAll"/>
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>

        <form-login login-page="/login"
                    authentication-success-handler-ref="customAuthenticationSuccessHandler"
                    authentication-failure-handler-ref="customAuthenticationFailureHandler"/>
        <access-denied-handler error-page="/accessDenied"/>
        <logout logout-url="/logout" logout-success-url="/login?logout"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userService"/>
    </authentication-manager>

    <!--
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="mazecode" password="12345" authorities="ROLE_USER" />
                <user name="admin" password="12345" authorities="ROLE_USER, ROLE_ADMIN" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
     -->

</beans:beans>